@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/backgroundnew.avif);
    background-size: cover;
    font-family: "Rubik", sans-serif;
}

nav ul{
    display: flex;
    padding: 0px;
}

nav ul li{
    color: white;
    list-style: none;
    font-size: 1.5em;
    padding-right: 1.5em;
    padding-left: 1em;
    text-shadow: rgb(90, 89, 87) 1px 0 10px;
}

nav ul li a{
    transition: all 200ms; 
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(196, 195, 195);
}

nav{
    background-image: radial-gradient(circle at center, rgb(88, 110, 190), #364b99);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgb(134, 132, 132);
}

#logo{
    width: 100%;
    max-width: 75px;
}

.loguito{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
}

.titulo{
    font-size: 25px;
    text-align: left;
    margin-top: 3em;
    margin-left: 5em;
    text-shadow: rgb(26, 26, 25) 1px 0 10px;
    color: white;
}

.titulocenter{
    font-size: 25px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-shadow: rgb(26, 26, 25) 1px 0 10px;
    color: white;
}


#subtitulo{
    font-size: 23px;
    margin-top: -1em;
    text-shadow: rgb(26, 26, 25) 1px 0 10px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
}

main{
    flex: 1;
}

.contenido{
    display: flex;
    flex-direction: column;
}

.contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.contacto{
    justify-content: center;
}

.contacto h2, h3{
    text-align: center;
    font-size: 2em;
    color: rgb(51, 50, 50);
    margin: 0;
}

.contacto p{
    text-align: center;
    max-width: 900px;
    color: rgb(51, 50, 50);
}

.contacto img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: auto;
}

.contactogeneral{
    display: flex;
    border: 4px solid rgb(158, 147, 147); 
    background-color: rgb(51, 50, 50);
    min-width: 400px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 15px;
}

.contactogeneral img{
    padding: 1em;
    width: 150px;
}

.contactogeneral h1, p{
    padding-right: 1em;
    color: rgb(228, 223, 223);
}

button{
    margin-bottom: 1em;
    border-radius: 8px; 
    border-width: 0; 
    color: #333333; 
    cursor: pointer; 
    display: inline-block; 
    font-size: 14px; 
    font-weight: 500; 
    line-height: 20px; 
    list-style: none; 
    padding: 10px 12px; 
    transition: all 200ms; 
    vertical-align: baseline; 
    white-space: nowrap; 
    user-select: none; 
    -webkit-user-select: none; 
    touch-action: manipulation;
}

button:hover{
    background-color: rgb(158, 159, 160);
}

.container2{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.bloque{
    background-color: rgb(51, 50, 50);
    border: 4px solid rgb(158, 147, 147); 
    display: block;
    max-width: 500px;
    min-width: 200px;
    padding: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
}

.bloque img{
    width: 100%;
    max-width: 500px;
}

.bloque p, .bloque h1, .bloque h2{
    text-align: center;
    color: rgb(228, 223, 223);
    margin-bottom: 0;
}

.bloque p{
    margin-bottom: 1em;
}

.bloque h2{
    font-size: 1.2em;
}

.bloque button{
    width: 180px;
}

#botoncentrado{
    width: 100%;
    margin-bottom: 0;
}

#botoncentrado2{
    margin: 0 auto;
    display: block;
    margin-top: 1em;
}

#barrita{
    border-left: 3px solid rgb(240, 236, 236);
    height: 65px;
    margin: 0;
    margin-left: 1.2em;
}

.iniciobloque{
    display: flex;
    background-color: rgb(51, 50, 50);
    border: 4px solid rgb(158, 147, 147); 
    max-width: 1200px;
    min-width: 200px;
    padding: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
}

.iniciobloque p{
    font-size: 1.2em;
    padding-top: 5em;
    text-align: center;
    min-width: 200px;
}

.iniciobloque img{
    padding-left: 1em;
    border-left: 6px solid rgb(177, 174, 174);
    width: 100%;
    max-width: 600px;
    min-width: none;
}